.page.theme_light {
  --bg-image: url(../images/cover-image-light.png) no-repeat center / cover;
  --bg-color: #FFF1F7;
  --accent-color: #353430;
  --title-decor-color: #353430;
  --text-color: #353430;
  --focus-color: #FFC2E6;
  --button-color: #353430;
  --decor-color: #353430;
  --shadow-color: #FF0070;
  --bg-text-color: #FF8DCB;
  --links-color: #FF8DCB;
  --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --button-color-hover: rgb(50 49 45 / 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
  --bg-image: url(../images/cover-image-light.png) no-repeat center / cover;
  --bg-color: #FFF1F7;
  --accent-color: #353430;
  --title-decor-color: #353430;
  --text-color: #353430;
  --focus-color: #FFC2E6;
  --button-color: #353430;
  --decor-color: #353430;
  --shadow-color: #FF0070;
  --bg-text-color: #FF8DCB;
  --links-color: #FF8DCB;
  --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --button-color-hover: rgb(50 49 45 / 0.4);
  }
}

@media (max-width: 768px) {
  .page.theme_light {
    --shadow-color: #FF8DCB;
  }
}

@media (max-width: 377px) {
  .page.theme_light {
    --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}

  .page.theme_light .header__decorated {
    display: none;
  }